functions/node_modules/
client/node_modules/
client/build/
firebase-debug.log
ui-debug.log
firestore_data/
client/.eslintcache
*.export_metadata
client/package-lock.json
functions/index.exe
.vs/
.vs/
.vscode/
functions/package-lock.json
client/src/config.json
functions/functions.exe
